# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# SQLite
*.db
*.sqlite3

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store